.image-control-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.image-control-wrapper .resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--yaba-primary, #ff7c75);
  border-radius: 2px;
  pointer-events: auto;
}
.image-control-wrapper .resizer.n {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.image-control-wrapper .resizer.ne {
  top: -5px;
  right: -5px;
}
.image-control-wrapper .resizer.e {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}
.image-control-wrapper .resizer.se {
  bottom: -5px;
  right: -5px;
}
.image-control-wrapper .resizer.s {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.image-control-wrapper .resizer.sw {
  bottom: -5px;
  left: -5px;
}
.image-control-wrapper .resizer.w {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
.image-control-wrapper .resizer.nw {
  top: -5px;
  left: -5px;
}
.image-control-wrapper--resizing {
  touch-action: none;
}
